streamlit
langchain
langchain_huggingface
langchain-community==0.0.31
langchain-groq
python-dotenv
yfinance
requests
beautifulsoup4
chromadb==0.4.15
sentence-transformers
pandas
scikit-learn
torch
transformers
plotly
pysqlite3-binary
